{% extends "orders/layout.html" %}

{%block title%}

Login

{%endblock%}

{%block template%}

<section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto flex flex-wrap items-center">
        <div class="lg:w-3/5 md:w-1/2 md:pr-16 lg:pr-0 pr-0">
            <h1 class="title-font font-medium text-3xl text-gray-900">Noch's has been in business for over 50 years!</h1>
            <p class="leading-relaxed mt-4">We've been feeding Harvard and the surrounding area since 1966!</p>

            {% if message %}
            <div class="flex items-center bg-red-700 border-l-4 border-red-800 py-2 px-3 shadow-md mb-2">
                <!-- icons -->
                <div class="text-green-500 rounded-full bg-white mr-3">
                  <svg width="1.8em" height="1.8em" viewBox="0 0 16 16" class="bi bi-check" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z"/>
                  </svg>
                </div>
                <!-- message -->
                <div class="text-white max-w-xs ">
                  {{message}}
                </div>
              </div>
            {% endif %}

        </div>
        <form class="lg:w-2/6 md:w-1/2 bg-gray-100 rounded-lg p-8 flex flex-col md:ml-auto w-full mt-10 md:mt-0" action="{% url 'orders:login' %}" method="post">
            {% csrf_token %}
            <div class="">
                <h2 class="text-gray-900 text-lg font-medium title-font mb-5">Inicia Sesion</h2>
    
                <div class="relative mb-4">
                    <label for="username" class="leading-7 text-sm text-gray-600">Nombre de usuario</label>
                    <input type="text" id="username" name="username" class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
                </div>
    
                <div class="relative mb-4">
                    <label for="password" class="leading-7 text-sm text-gray-600">Contraseña</label>
                    <input type="password" id="password" name="password" class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
                </div>
    
    
                <button type="submit" value="Login" class="text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg">Inicia Sesion</button>
                <p class="text-xs text-gray-500 mt-3">No tienes una cuenta?<a href="{% url 'orders:register' %}" class="underline decoration-gray-500">Registrate</a></p>
            </div>
        </form>

    </div>
</section>

{%endblock%}