{% extends 'orders/layout.html' %}
{% block title %} purchase success {% endblock %}
{% block template %}
{% load static %}
    <div class="container px-6 py-20 flex flex-wrap items-center content-center">
      <div class="bg-white p-6 rounded-lg shadow-lg">
        <h2 class="text-2xl font-bold mb-2 text-gray-800 mx-auto">Gracias por tu compra {{user.username}}</h2>
        <p class="text-gray-700 py-2">Factura n° {{order.id}} </p>
        
        <p class="text-gray-700">

          {% for item in order.get_cart_ordered_items %}

          {%if item.menu_item.category == "Pizza" and "Topping" in item.menu_item.name %}

          {% if item.ptoppings != False %}
          
            {% if item.num_extras == 0 %}

              <span class="px-5">{{item.menu_item.price}}</span>

            {% endif %}
          
            {% if item.num_extras > 0 %}
            
              <span class="px-5">{{ item.menu_item.price }} + {{item.extras_cost}}</span>

            {% endif %}

        </p>

        <p class="text-gray-700">
            
          {{item.menu_item.sizes}}
            
          {{ item.menu_item.name }}
            
          Toppings: {{ item.ptoppings }}
          
            {% if item.num_extras == 0 %}

              <span class="px-5">{{item.menu_item.price}}</span>

            {% endif %}
            
            {% if item.num_extras > 0 %}

              <span class="px-5">{{ item.menu_item.price }} + {{item.extras_cost}}</span>

            {% endif %}
        
        </p>

        {% endif %}

        {% endif %}

        {%if item.menu_item.category == "Pizza" and "Topping" not in item.menu_item.name %}
          
          <p>
            
            {{item.menu_item.sizes}}
            
            {{ item.menu_item.name }}
            
            {% if item.num_extras == 0 %}

              <span class="px-5">{{item.menu_item.price}}</span>
            
            {% endif %}
            
            {% if item.num_extras > 0 %}
              <span class="px-5">{{ item.menu_item.price }} + {{item.extras_cost}}</span>
            {% endif %}
          </p>
          
          {% endif %}

          {% if item.menu_item.category == "Subs" and item.num_extras == 0 %}

          <p>
            {{item.menu_item.sizes}}

            {{ item.menu_item.name }}
            
            {% if item.num_extras == 0 %}

              <span class="px-5">{{item.menu_item.price}}</span>
            
            {% endif %}
            
            {% if item.num_extras > 0 %}
            
              <span class="px-5">{{ item.menu_item.price }} + {{item.extras_cost}}</span>
            
            {% endif %}

          </p>

          {% endif %}

          {% if item.num_extras > 0 %}
          <p>
            {{item.menu_item.sizes}}
            {{ item.menu_item.name }}
            Extras: {{ item.extras }}
            
            {% if item.num_extras == 0 %}

            <span class="px-5">{{item.menu_item.price}}</span>

            {% endif %}
            
            {% if item.num_extras > 0 %}
              <span class="px-5">{{ item.menu_item.price }} + {{item.extras_cost}}</span>
            {% endif %}
          </p>
          {% endif %}


          {% if item.menu_item.category != "Pizza" and item.menu_item.category != "Subs" %}

          <p>
            {% if item.menu_item.sizes%}
            {{item.menu_item.sizes}}
                  {% endif %}
            {{ item.menu_item.name }}
            
            {% if item.num_extras == 0 %}

              <span class="px-5">{{item.menu_item.price}}</span>
            {% endif %}

            {% if item.num_extras > 0 %}
              <span class="px-5">{{ item.menu_item.price }} + {{item.extras_cost}}</span>
            {% endif %}
          
          </p>

          {% endif %}    
          
          {% endfor %}

          <p><strong>Order Total</strong><span class="px-3"><strong>${{ order.get_cart_total }}</strong></span></p>
      </div>     
    </div>

    <div class="container px-6 ml-3">
        <div class="container py-5">
          <a href="{% url 'orders:profile' %}" class="bg-gradient-to-r from-purple-800 to-cyan-500 hover:from-pink-500 hover:to-cyan-500 text-white font-bold py-2 px-4 rounded"
            >Ir al perfil </a>
        </div>
        <div class="container py-5">
          <a href="{% url 'orders:index' %}" class="bg-gradient-to-r from-purple-800 to-cyan-500 hover:from-pink-500 hover:to-cyan-500 text-white font-bold py-2 px-4 rounded "
      >regresar al menu </a>
        </div>
            

            
      
    </div>
    
{% endblock %}
